*{
    margin: 0px;
    padding: 0px;
}
html{
    overflow-x: hidden;
}
.main_nav{
    background-color: rgba(2,77,131,0.15);
  float: left;
  width: 250px;
  height: 100vh;
  margin-top: 80px;
}
.main_nav ul{
    margin: 20px;
}
.main_nav ul li img{
    height: 100px;
    width: 100px;
    border-radius: 50%;
    margin-right: 10px;
}
.main_nav ul li{
    list-style: none;
    margin:50px 20px 20px 0px;
}
.main_nav ul li a{
    text-decoration: none;
    margin-left: 40px; 
}
.Top_nav{
    width: 100%;
    height: 80px;
    background-color:#024d81;
}
.Top_nav div label{
    font-size: 34px;
}
.Top_nav div label i{
    margin: 25px 10px 0px 10px;
}
.Top_nav div h1{
    margin: 19px 0px 0px -220px;
}
.Top_nav h1{
    color: white;
    text-align: center;
    margin-top: -55px;
    font-size: 34px;
}
.main-section{
    margin-left: 250px; background-color:rgba(185, 179, 179,0.1)
}
.div4box{
    margin: 30px 0px;
}
.div4box span{
    margin-left: 20px;
}
.firstChild{
    display: flex;
    width: 300px;
    height: 100px;
    margin: 0px 10px;
    background-color: aqua;
}
.firstChild i{
    margin: 20px 0px 5px 20px;
    font-size: 50px;
    color: white;
}
.firstChild h4{
    font-size: 26px;
    margin: 30px 0px 5px 20px;
}
.secondChild{
    width: 300px;
    height: 100px;
    margin: 0px 10px;
    background-color: rgb(255, 136, 0);
}
.secondChild i{
    margin: 20px 0px 5px 20px;
    font-size: 40px;
    color: white;
}
.secondChild h4{
    font-size: 26px;
    margin: -40px 0px 0px 85px;
}
.thriedChild{
    width: 300px;
    height: 100px;
    margin: 0px 10px;
    background-color: rgb(225, 255, 0);
}
.thriedChild i{
    margin: 20px 0px 5px 20px;
    font-size: 40px;
    color: white;
}
.thriedChild h4{
    font-size: 26px;
    margin: -40px 0px 0px 85px;
} 
 .fourtChild{
    width: 300px;
    height: 100px;
    margin: 0px 10px;
    background-color: rgb(119, 0, 255);
}
.fourtChild i{
    margin: 20px 0px 5px 20px;
    font-size: 40px;
    color: white;
}
.fourtChild h4{
    font-size: 26px;
    margin: -40px 0px 0px 85px;
} 
.firstbar{
    display: flex; justify-content: center;
} 
.main_nav_small{
    display: none;
    background-color: rgba(2,77,131,0.15);
    float: left;
    width: 100px;
    height: 100vh;
    margin-top:30px;   
}
.main_nav_small ul li{
    list-style: none;
    margin: 30px;
}
.main_nav_small ul a{
    text-decoration: none;
    color: black;
}
.main_nav_small ul li img{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    margin-right: 10px;  
}
/* ================================================ */
/* .outer-circle{
    width: 500px;
    height: 500px;
    border-radius: 50%;
   background-color: black;
}
.outer1-circle{
    width: 400px;
    height: 400px;
    border-radius: 50%;
    background-color: white;
    position: absolute;
    margin: 47px 0px 0px 47px;
} */

/* .box-bar{
    position: absolute;
    background-color: aliceblue;
}*/
.section2{
    display: flex; margin-top: 50px;
}
.box-bar{
    display: flex;
   
    height: 450px;
    background-color:white;
    margin: 30px auto;
}
.bar-1{
    margin: 350px 10px 0px 20px;
    width: 50px;
    height: 100px;
    background-color: #024d81;
    position: relative;
}
.bar-2{
    margin: 181px 10px 0px 20px;
    width: 50px;
    height: 270px;
    background-color: #94cbf3;
}
.bar-3{
    margin: 230px 10px 0px 20px;
    width: 50px;
    height: 220px;
    background-color: #94cbf3;
}
.bar-4{
    margin: 270px 10px 0px 20px;
    width: 50px;
    height: 180px;
    background-color: #94cbf3;
}
.bar-5{
    margin: 255px 10px 0px 20px;
    width: 50px;
    height: 194px;
    background-color: #94cbf3;
}
.bar-6{
    margin: 169px 10px 0px 20px;
    width: 50px;
    height: 280px;
    background-color: #94cbf3;
}
.circle-box{
    width: 500px; height: 450px;
    background-color: white;
    margin: 30px;
}
.circle-text h3{
    font-size: 22px;
    margin: 50px;
    color: #024d81;
}
.circle-wrap{
    margin: 50px;
    width: 300px;
    height: 300px;
    background: #e6e2e7;
    border-radius: 50%;
}
.circle-wrap .circle .mask,
.circle-wrap .circle .fill{
    width: 300px;
    height: 300px;
    position: absolute;
    border-radius: 50%;
}
.circle-wrap .circle .mask{
    clip: rect(0px, 300px, 300px, 150px);
}
.circle-wrap .circle .mask .fill{
    clip: rect(0px, 150px, 300px, 0px);
    background-color: #f7403b;
}
.circle-wrap .circle .mask .full,
.circle-wrap .circle .fill{
    animation: fill ease-in-out 3s;
    transform: rotate(170deg);
}
@keyframes fill{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(100deg);
    }
}
.circle-wrap .inside-circle{
    width: 300px;
    height: 300px;
    border-radius: 50%;
    /* background: #fff; */
     line-height: 250px; 
    text-align: center;
    margin-top: 20px;
    margin-left: 20px;
    position: absolute;
    font-weight: 700;
    font-size: 2em;
} 
 @media(max-width:1050px){
    .main_nav{
        display: none;
    }
    .main_nav_small{
        display: block;
    }
    .Top_nav{
        height: 50px;
    }
    .Top_nav h1{
        font-size: 23px;
        color: white;
        padding: 5px 0px 0px 123px;
    }
    .Top_nav div i{
       font-size: 20px;
    }
    #label1{
        display: block;
       }
    #check1:checked~ .main_nav{
        display: block;
        /* margin-top: -10px; */
        .Top_nav h1{
            margin-left: 10px;
        }
        .main_nav ul li img {
            margin-top: 100px;
        }
       }
       #check1:checked~ .main_nav_small{
         display: none;
       }
       .main-section{
        margin-left: 100px; background-color:rgba(185, 179, 179,0.1)
    }
    /* ==================================================================== */
    
} 
@media(max-width:770px){
    .main_nav{
        display: none;
    }
    .main_nav_small{
        display: block;
    }
    .Top_nav{
        height: 50px;
    }
    .Top_nav h1{
        font-size: 23px;
        color: white;
        padding: 5px 0px 0px 123px;
    }
    .Top_nav div i{
       font-size: 20px;
    }
    #label1{
        display: block;
       }
    #check1:checked~ .main_nav{
        display: block;
        margin-top: -10px;
        .Top_nav h1{
            margin-left: 10px;
        }
        .main_nav ul li img {
            margin-top: 100px;
        }
       }
       #check1:checked~ .main_nav_small{
         display: none;
       }
       .main-section{
        margin-left: 100px; background-color:rgba(185, 179, 179,0.1)
    } 
    /* ==================================== */
    
    /* ================================= */
  
}
@media(max-width:430px){
    .firstbar{
        display: block;
    }
    .section2{
        display: block; margin-top: 50px;
    }
    .circle-box{
        width: 280px;
        margin: 20px;
        height: 350px;
    }
    .circle-wrap .inside-circle {
        width: 100px;
        margin-top: -20px;
    }
    /* ======================================= */
   
}